.container {
  height: 80vh;
  overflow-y: auto;
  padding: 20px;
  background: #fafafa;
  border-radius: 12px;

  /* اسکرول زیبا */
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.18);
    border-radius: 8px;
  }
}

.inner {
  position: relative;
  width: 100%;
}

.row {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  padding-bottom: 16px;

  display: flex;
  justify-content: center;
}

.loader {
  padding: 20px;
  text-align: center;
  font-size: 14px;
  color: #555;
}

.loadingMore {
  text-align: center;
  padding: 20px 0;
  color: #666;
  font-size: 15px;
  font-weight: 500;
}
